
.title__mainpages{
    display: flex;
    justify-content: center;
    background-color: $color-dark;
    a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        h1{
            @extend .title__productos;
            color: #fff;
            border-bottom: 2px solid transparent;
        }
    }

    a:hover{

        h1{
        color: rgb(0, 0, 0);
        border-bottom: 2px solid rgb(0, 0, 0);
        }
    }
}


.nav-pages{
    background-color: $color-dark;
    padding: 2px 0;
    display: flex;
    justify-content: center;
    span{
        font-size: 1.7rem;
        color: rgb(255, 255, 255);
    }
    a{
        font-size: 1.7rem;
        color: rgb(255, 255, 255);
        text-decoration: none;
        
        padding: 0 7px;
    }

    a:hover{
        font-size: 1.9rem;
        color: aqua;
    }
}

#pageactual{
    font-size: 1.9rem;
        color: aqua;
}



.container_pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    a , p{
        font-size: 2.0rem;
        color: $color-gray;
        text-decoration: none;
        letter-spacing: 0.3rem;
        margin: 0 4px;
    }
    a:hover{
        transition: all 1000ms ;
        color: $color-dark;
        border-bottom: 1px solid $color-dark;
    }

    .pagination{
        color: $color-dark;
    }
}

@media only screen and (max-width:650px) {

    .nav-pages{
        display: flex;
        flex-wrap: wrap;
    }
}
