#bodypreguntasfrec {

    background-image: url(../assets/img/backgroundnike.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#mainpf{
    h1{
        @include shadowtittle;
        text-align: center;
    }
}

.preguntasfrecuentes__section {@include parraphs;}

.preguntasfrecuentes__section__article__b,
#pregspan {
    display: flex;
    justify-content: center;
}

.containeriframe {
    display: flex;
    justify-content: center;
    height: 40vh;
}

.iframepreg {
    width: 350px;
    height: 100%;
}