.body-products{
    background-color: #E5E5E5;
}
.title__productos {
    @include titleproductos;
    background-color: $color-dark;
    color: #fff;
}
.title__productosh2 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Akshar', sans-serif;
    padding: 10px;
}

.flexcontainer__products {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;

    div{
        width: 50%;
        font-size: 2rem;
        font-family: 'Times New Roman', Times, serif;
        color: #3e3e3e;
        h2{
            font-size: 3rem;
            padding-bottom: 20px;
            font-family: "LL Circular Bold Sub", Helvetica, sans-serif;
            color: black;
        
        }
    }
    
    img{
        width: 400px;
        height: 350px;
        border-radius: 10%;
        
    }
}


.navproductos{
    display: flex;
    align-items: center;
    justify-content: space-around;

    a{
        display: flex;
        align-items: center;
        img{
            width: 100px;
            height: 80px;
        }
    }
}





.dropdown-item{
    font-size: 1.3rem;
}

#dropdownid:hover{
    background-color: #161616;
    color: white;
}








@media only screen and (max-width: 400px) {
    .flexcontainer__products{
        img{
            width: 300px;
            height: 350px;
        }
        text-align: center;
    }

    .navproductos{
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .flexcontainer__products{
        img{
            width: 300px;
            height: 350px;
        }
    }
    .navproductos{
        flex-wrap: wrap;
    }
}