.body-products{
    background-color: #E5E5E5;
}
.title__productos {
    @include titleproductos;
}
.title__productosh2 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Akshar', sans-serif;
    padding: 10px;
}

.flexcontainer__products {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;

    div{
        width: 50%;
        font-size: 2rem;
        font-family: 'Times New Roman', Times, serif;
        color: #3e3e3e;
        h2{
            font-size: 3rem;
            padding-bottom: 20px;
            font-family: "LL Circular Bold Sub", Helvetica, sans-serif;
            color: black;
        
        }
    }
    
    img{
        width: 400px;
        height: 350px;
        border-radius: 10%;
        
    }
}

.navbar-toggler-icon{
    background-color: rgb(208, 208, 208);
    border-radius: 20%;
}

#dropdownproductos{
    color: #161616;
    text-decoration: none;
    font-size: 1.5rem;

}
.dropdown{
    list-style: none;
    padding-left: 4px;
    padding-right: 4px;
}

.navproductos{
    display: flex;
    justify-content: space-between;
}

.dropdown-item{
    font-size: 1.3rem;
}

#dropdownid:hover{
    background-color: #161616;
    color: white;
}

@media only screen and (max-width: 400px) {
    .flexcontainer__products{
        img{
            width: 300px;
            height: 350px;
        }
        text-align: center;
    }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .flexcontainer__products{
        img{
            width: 300px;
            height: 350px;
        }
    }
}