.bodyQS {
    background-image: url(../assets/img/backgroundnike.jpg);

    /* IMAGEN RESPONSIVE (poner en el resto de fondos) */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#divheaderquienessomos {
    grid-area: headernav;
    height: 7%;
}

#mainquienessomos {
    grid-area: grillados;
    height: 77.4vh;
    overflow-y: scroll;
    overflow-y: auto;
}

#footerquienessomos {
    grid-area: footer;

}


.main__h1 {@include shadowtittle;}

.main__div {@include parraphs;}


.ceos{
    font-size: 2.5rem;

}

.maticami{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    img{
        border-radius: 100%;
        width: 120px;
        height: 120px;
        border: 2px solid rgb(0, 0, 0);
        margin: 0 0 0 -2rem;
    }
}

@media only screen and (max-width: 400px) {
    .main__h1 { 
        text-align: center;
    }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .main__h1 {
        text-align: center;
    }

}


