/*------------------------------------------------------------------------MUY IMPORTANTE SIEMPRE ESTAR--------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

img {
    max-width: 100%;
    max-height: 100%;
}

/*------------------------------------------------------------------------MUY IMPORTANTE SIEMPRE ESTAR--------------------------------------------------------------------------------*/

#grilla {
    display: grid;
    grid-template-areas:
        "headernav"
        "grillados"
        "footer";
    height: 100vh;
    min-height: 100vh;
    /*mantiene footer abajo sin que se rompa*/
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
}

header {
    grid-area: headernav;
}

main {
    grid-area: grillados;
}

/*
#grillados {
    grid-area: grillados;
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-areas:
        "banner"
        "sectionprincipal"
        "sectiondestacadas"
        "sectionpagos"
        "sectionform";
    grid-template-rows: auto auto auto auto auto;

}
*/

footer {
    grid-area: footer;
}

html {
    font-size: 62.5%;
    min-height: 100%;
}

body {
    /* SI O SI DEBE TENER UN VIEWHEIGHT */

    height: 100vh;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

footer a {
    text-decoration: none;
    width: 100%;
    color: aqua;
}

a:hover {
    color: rgb(255, 255, 255);
}


header,
footer {

    background-color: #212529;
    width: 100%;
}

.containerbanner {
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.parrafo {
    position: sticky;
    top: 0%;
    width: 100%;
    height: 18px;
    font-size: 2.7rem;
    background-color: #212529;
    text-align: center;
    /*evitar que se rompa todo*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: Ellipsis;
    /*evitar que se rompa todo*/
    color: rgb(255, 255, 255);

    font-variant: small-caps;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*------------------------------------------------------------------------CLASSES HEADER---------------------------------------------------------------------------------------*/
.containerheader {
    /*
    display: flex;
    flex-flow: row wrap;
    font-size: 1.58rem;
    */
    font-size: 1.5rem;
}
.container__logo {
    padding: 0 5vw;
}

.navbar-brand {
    height: 70px;
}


.nav-link{
    color: #fff!important;
}

/*------------------------------------------------------------------------CLASSES HEADER---------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------CLASSES INDEX---------------------------------------------------------------------------------------*/
.gradient {
    background-image: linear-gradient(to left, #3b3b3b, #313131, #282828, #1f1f1f, #161616);
}

/*------------------------------------------------------------------------CLASSES INDEX---------------------------------------------------------------------------------------*/



/*--------------------------------------------------------------INDEX ClASSES SECTION PRINCIPAL----------------------------------------------------------------------------------*/
.sectionprincipal {
    width: 100%;

}

#novedades

/* parrafo novedades */
    {
    color: white;
    font-variant: small-caps;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2rem;
    padding-top: 4px;

    text-shadow: red 0 0, cyan 0 0;
    letter-spacing: 6px;
    transition: text-shadow 200ms;

}

#novedades:hover {
    text-shadow: red -2.5px 0, cyan 2.5px 0;
}

#imagenesdestacadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imagenesgeneral {
    width: 450px;
    height: 300px;
    border-radius: 10%;
    padding: 2px;

}

/*--------------------------------------------------------------INDEX ClASSES SECTION PRINCIPAL----------------------------------------------------------------------------------*/

/*--------------------------------------------------------------INDEX ClASSES SECTION SECONDARY----------------------------------------------------------------------------------*/

.sectiondestacadas2 {
    width: 100%;
    height: auto;
}

.contenedordestacadas__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 3px;
}

.contenedordestacadas__parrafo {
    text-align: center;
    color: white;
    font-variant: small-caps;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.7rem;
    padding-top: 4px;

    text-shadow: red 0 0, cyan 0 0;
    letter-spacing: 6px;
    transition: text-shadow 200ms;
}

.contenedordestacadas__parrafo:hover {
    text-shadow: red -2.5px 0, cyan 2.5px 0;
}

/*--------------------------------------------------------------INDEX ClASSES SECTION PAGOS Y FORM----------------------------------------------------------------------------------*/




.sectionpagos {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    background-image: url(../assets/img/SP1_original.jpg);
}

.sectionform {
    text-align: center;
    font-size: 2.0rem;
}

.legendform {
    color: white;
    text-shadow: #161616 0 -2px;
    font-size: 2.5rem;

}

.sectionform__div {
    padding-bottom: 5px;
}

.forminput {
    padding: 2px;
}

/*------------------------------------------------------------------------CLASSES FOOTER---------------------------------------------------------------------------------------*/

footer {
    font-size: 1.5rem;
    width: 100%;
    padding-top: 0.5%;
}

.footer,
.footer__div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 2%;
    align-items: center;
}

.footer__divsuscribete {
    position: relative;
    padding-right: 15%;
    text-align: center;
    color: white;
    justify-content: center;
}

.footer__divsuscribete__b {
    font-size: 1.5rem;
    font-family: serif;
    color: white;
}

.footer__divwsp {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

.footer__divwsp__img {
    width: 50px;
    height: 50px;
    text-align: center;
    transform: translateX(10px)
}

.footer__divwsp:hover {
    color: white;
}

.footer__links {
    padding-bottom: 0.3%;
}

/*------------------------------------------------------------------------CLASSES FOOTER---------------------------------------------------------------------------------------*/





/*------------------------------------------------------------------------CLASSES PAGE QUIENES SOMOS-------------------------------------------------------------------------------*/
.bodyQS {
    background-image: url(../assets/img/SP1_original.jpg);

    /* IMAGEN RESPONSIVE (poner en el resto de fondos) */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#divheaderquienessomos {
    grid-area: headernav;
    height: 7%;
}

#mainquienessomos {
    grid-area: grillados;
    height: 77.4vh;
    overflow-y: scroll;
    overflow-y: auto;
}

#footerquienessomos {
    grid-area: footer;

}





.main__h1 {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    color: aliceblue;
    text-shadow: black 0.5rem 0.5rem 0.7rem;
}

.main__div {
    padding: 1%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 1.9rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;

    color: whitesmoke;

}

.main__div__p {
    text-shadow: black 0.3rem 0.3rem 0.4rem;
    text-shadow: black 0rem -0.2rem;
    /* borde tipo para arriba*/

}

/*------------------------------------------------------------------------CLASSES PAGE QUIENES SOMOS-------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------CLASSES PAGE PREGUNTAS FREC-------------------------------------------------------------------------------*/

#bodypreguntasfrec {

    background-image: url(../assets/img/ChinoB_original.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.preguntasfrecuentes__section {
    font-size: 1.8rem;
    color: white;
    text-shadow: black 0.9rem 0.7rem 1rem;
}

.preguntasfrecuentes__section__article__b,
#pregspan {
    display: flex;
    justify-content: center;
}

.containeriframe {
    display: flex;
    justify-content: center;
    height: 40vh;
}

.iframepreg {
    width: 30%;
    height: 100%;
}



/*------------------------------------------------------------------------CLASSES PAGE PREGUNTAS FREC-------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------CLASSES PAGE PRODUCTOS-------------------------------------------------------------------------------*/
.title__productos {
    font-size: 4.5rem;
    text-align: center;
    font-family: 'Akshar', sans-serif;
}

.title__productosh2 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Akshar', sans-serif;
    padding: 10px;
}

.items__productos {
    width: 400px;
    height: 300px;
    border-radius: 10%;
}

.flexcontainer__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.div__description {
    max-width: 50%;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    color: #3e3e3e;
    padding: 20px 20px 40px;
}

.div__description__title {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 20px;
    font-family: "LL Circular Bold Sub", Helvetica, sans-serif;
    color: black;

}

.div__description p {
    padding-left: 10%;
}


/*-----------------------------------------------------------------------------------CHAMPIONESPAGE-----------------------------------------------------------------------------*/

.championestitle {
    text-align: center;
}

#championesgrid {
    display: grid;
    grid-template-columns: auto 500px auto;
    justify-content: space-between;
}

.containernavbar1 {
    grid-column: 1/2;

}

.containercarrousels {
    grid-column: 2/3;
}

.containernavbar2 {
    grid-column: 3/4;
}

.containeritems {
    padding: 10px;
}


.nav-link2{
    text-decoration: none;
    color: rgb(63, 63, 63);
}

.nav-link2:hover{
    color: black;
}


/*------------------------------------------------------------------------CLASSES PAGE PRODUCTOS-------------------------------------------------------------------------------*/





@media only screen and (max-width: 400px) {

    .header {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .containerheader__nav {
        text-align: center;
    }

    .footer {
        justify-content: center;
        padding-left: 0% ;
    }
    ol.footer__links{
        padding-left: 0%;
    }

    .footer__div{
        padding-left: 0%;
    }

    .ulfooter{
        padding: 0px;
    }

    .footer__divwsp__img {
        max-width: 50px;
        max-width: 40px;
    }

    .footer__divsuscribete {
        padding: 0%;
    }

    .div__description {
        max-width: 90%;
    }
    /*------------------------------------------------------------------------INDEX RESPONSIVE-------------------------------------------------------------------------------*/

    .imagenesgeneral {
        height: 200px;
        width: 200px;
        padding: 2px;

    }

    #imagenesdestacadas {
        flex-wrap: wrap;
    }

    .contenedordestacadas__img {
        flex-wrap: wrap;
    }


    .sectionpagos__div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
    }
    .main__h1 {
        text-align: center;
    }

    /*------------------------------------------------------------------------INDEX RESPONSIVE-------------------------------------------------------------------------------*/

  /*CHAMPIONES*/

  #championesgrid {
    display: grid;
    grid-template-columns: auto 270px auto;
    justify-content: space-between;
}
    

}


@media only screen and (min-width: 401px) and (max-width: 960px) {

    .header {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .containerheader__nav {
        text-align: center;
    }

    .footer {
        justify-content: center;
        padding-left: 0%;
    }

    .footer__div{
        padding-left: 0%;
    }

    .ulfooter{
        padding: 0px;
    }

    .footer__divsuscribete {
        padding: 0%;
    }

    .div__description {
        max-width: 90%;
    }

    /*INDEX*/

    .imagenesgeneral {
        height: 210px;
        width: 210px;
        padding: 2px;

    }

    #imagenesdestacadas {
        flex-wrap: wrap;
    }

    .sectionpagos__div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
    }

    .sectionpagos__div__span {
        padding-top: 14px;
    }

    /*QUIENESOMOS*/
    .main__h1 {
        text-align: center;
    }


    /*CHAMPIONES*/

    #championesgrid {
        display: grid;
        grid-template-columns: auto 300px auto;
        justify-content: space-between;
    }
}

.navbar-toggler-icon{
    background-color: rgb(208, 208, 208);
    border-radius: 20%;
}

#dropdownproductos{
    color: #161616;
    text-decoration: none;
    font-size: 1.4rem;

}
.dropdown{
    list-style: none;
}

.navproductos{
    display: flex;
    justify-content: space-between;
}

.dropdown-item{
    font-size: 1.3rem;
}

#dropdownid:hover{
    background-color: #161616;
    color: white;
}
